# AGENT PC SETTINGS

ROLE=agent
OWNER_ID=123456789

# Имя этого ПК. На каждом agent ПК укажи разное имя:
# laptop, office, home, pc2...
PC_NAME=laptop

# Токен agent-бота именно этого ПК
AGENT_BOT_TOKEN=PASTE_AGENT_BOT_TOKEN_HERE
